__pycache__/
*.py[cod]
*$py.class
eggs/
.eggs/
*.egg
*.egg-info/
*.EGG
*.EGG-INFO
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
buildout-cache/
develop-eggs/
parts/
var/
htmlcov/
.coverage
*.log
output.xml
*.swp
log.html
report.html
.idea
mrbobvenv/
node_modules/
